<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap" rel="stylesheet">
        <title>TO-DO</title>
    </head>
    <body>
        <header>
            <img src="<%= require('./images/done.svg') %>" alt="TO-DO">
            <h1>TO-DO</h1>
        </header>

        <main>
            <nav id="sidebar">
                <div class="sidebar-menu">
                    <div class="button filter-button button-hover active-button" data-sidebar-filter="All">
                        <img src="<%= require('./images/calendar-all.svg') %>" alt="All" data-sidebar-icon="All">
                        <p>All</p>
                    </div>
                    <div class="button filter-button button-hover" data-sidebar-filter="Today">
                        <img src="<%= require('./images/calendar-today.svg') %>" alt="All" data-sidebar-icon="Today">
                        <p>Today</p>
                    </div>
                    <div class="button filter-button button-hover" data-sidebar-filter="Week">
                        <img src="<%= require('./images/calendar-week.svg') %>" alt="All" data-sidebar-icon="Week">
                        <p>Week</p>
                    </div>
                    <div class="button filter-button button-hover" data-sidebar-filter="Completed">
                        <img src="<%= require('./images/calendar-completed.svg') %>" alt="All" data-sidebar-icon="Completed">
                        <p>Completed</p>
                    </div>
                </div>
    
                <div class="sidebar-projects">
                    <div class="sidebar-projects-header">
                        <h4>Projects (<span class="projects-count">0</span>)</h4>
                        <button class="create-button create-project-button button-hover" data-tooltip="Create New Project">+</button>
                    </div>
                    
                    <!-- Project Elements are dynamically added through JavaScript -->
                </div>
            </nav>
    
            <div id="main-content">
                <!-- Main content will contain the tasks for each sidebar option -->
            </div>

        </main>

        <footer id="footer">
            <p>Created by <a href="https://github.com/hojinchang">hojinchang</a></p>
        </footer>

        <div id="newProjectModal">
            <form id="newProjectForm">
                <h3>New Project</h3>
                <button class="modal-close-button modal-button" type="button" aria-hidden="true">&times;</button>
                <div class="form-content">
                    <div class="form-input">
                        <label for="title">Title*</label>
                        <input type="text" id="title" name="title" placeholder="Project Name" required>
                    </div>

                    <div class="modal-buttons">
                        <button class="modal-cancel-button modal-button" type="button">Cancel</button>
                        <button class="modal-confirm-button modal-button" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>