<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap" rel="stylesheet">
        <title>TO-DO</title>
    </head>
    <body>
        <header>
            <img src="<%= require('./images/done.svg') %>" alt="TO-DO">
            <h1>TO-DO</h1>
        </header>

        <main>
            <nav id="sidebar">
                <div class="sidebar-menu">
                    <button class="sidebar-button" type="button">
                        <img src="<%= require('./images/calendar-all.svg') %>" alt="All">
                        <p>All</p>
                    </button>
                    <button class="sidebar-button" type="button">
                        <img src="<%= require('./images/calendar-today.svg') %>" alt="All">
                        <p>Today</p>
                    </button>
                    <button class="sidebar-button" type="button">
                        <img src="<%= require('./images/calendar-week.svg') %>" alt="All">
                        <p>Week</p>
                    </button>
                    <button class="sidebar-button" type="button">
                        <img src="<%= require('./images/calendar-urgent.svg') %>" alt="All">
                        <p>Urgent</p>
                    </button>
                    <button class="sidebar-button" type="button">
                        <img src="<%= require('./images/calendar-completed.svg') %>" alt="All">
                        <p>Completed</p>
                    </button>
                </div>
            </nav>
        </main>
        
    </body>
</html>